body{
    width: 100%;
    height: 100%;
    background-color: aquamarine;

    #button {
        width: 75px;
        height: 60px;
        cursor: pointer;
        background-color: rgb(69, 178, 225);
    }
    
    #biedronka{
        width: 80px;
        height: 80px;
        cursor: pointer;
        background-color: rgb(42, 168, 28);
    }
    #auchan {
        width: 80px;
        height: 80px;
        cursor: pointer;
        background-color: rgb(197, 24, 24);

    }
    #button_del{
        width: 70px;
        height: 50px;
        cursor: pointer;
        background-color: rgb(242, 255, 0);
    }
    
    #button_move{
        width: 85px;
        height: 75px;
        cursor: pointer;
        background-color: rgb(145, 66, 202);
    }
    #productInfo{
        width: 80px;
        height: 80px;
        cursor: pointer;
        background-color: rgb(255, 0, 255);
    }
    #line{
        width: 100px;
        height: 10px;
        background-color: black;
    }
    #button_check{
        width: 80px;
        height: 80px;
        cursor: pointer;
        background-color: rgb(229, 98, 98);
    }
    #button_litr{
        width: 80px;
        height: 80px;
        cursor: pointer;
        background-color: rgb(56, 105, 65);
    }
}