body{
    width: 100%;
    height: 100%;
    background-color: aquamarine;

    #button {
        width: 70px;
        height: 50px;
        cursor: pointer;
        background-color: rgb(69, 178, 225);
    }
    
    #fantasyLibrary{
        width: 80px;
        height: 80px;
        cursor: pointer;
        background-color: rgb(42, 168, 28);
    }
    #secondLibrary {
        width: 80px;
        height: 80px;
        cursor: pointer;
        background-color: rgb(197, 24, 24);

    }
    #button_del{
        width: 70px;
        height: 50px;
        cursor: pointer;
        background-color: rgb(242, 255, 0);
    }
    
    #button_move{
        width: 70px;
        height: 50px;
        cursor: pointer;
        background-color: rgb(145, 66, 202);
    }
    #bookInfo{
        width: 80px;
        height: 80px;
        cursor: pointer;
        background-color: rgb(255, 0, 255);
    }
    #line{
        width: 100px;
        height: 10px;
        background-color: black;
    }
}