body{
    width: 100%;
    height: 100%;
    background-color: aquamarine;

    // #button {
    //     width: 50px;
    //     height: 50px;
    //     cursor: pointer;
    //     background-color: greenyellow;
    // }
    // #button_del{
    //     width: 50px;
    //     height: 50px;
    //     cursor: pointer;
    //     background-color: red;
    // }
    // #button_show{
    //     width: 50px;
    //     height: 50px;
    //     cursor: pointer;
    //     background-color: rgb(21, 0, 255);
    // }
    // #button_move{
    //     width: 50px;
    //     height: 50px;
    //     cursor: pointer;
    //     background-color: rgb(255, 0, 255);
    // }
    #bookInfo{
        width: 80px;
        height: 80px;
        cursor: pointer;
        background-color: rgb(255, 0, 255);
    }
    #fantasyLibrary{
        width: 80px;
        height: 80px;
        cursor: pointer;
        background-color: rgb(42, 168, 28);
    }
}